Running post-install command: makepkg --printsrcinfo
pkgbase = mkdotenv
	pkgdesc = Populate .env files from secrets.
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/pc-magas/mkdotenv
	arch = x86_64
	license = GPL-3
	source = mkdotenv-1.0.1.tar.gz::https://github.com/pc-magas/mkdotenv/releases/download/v1.0.1-pre/mkdotenv-1.0.1.tar.gz
	sha256sums = a8ece179772d9332be7d50268c846e1dbd03035ad3be9f4f91a6891f78cc44cc

pkgname = mkdotenv
