Running post-install command: makepkg --printsrcinfo
pkgbase = mkdotenv
	pkgdesc = Populate .env files from secrets.
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/pc-magas/mkdotenv
	arch = x86_64
	license = GPL-3
	source = mkdotenv-1.0.0.tar.gz::https://github.com/pc-magas/mkdotenv/releases/download/v1.0.0-pre/mkdotenv-1.0.0.tar.gz
	sha256sums = 2fc59f4f8ce53d71ac302940e154d77896e78176ee758ede84b9f2ff6e713300

pkgname = mkdotenv
