Running post-install command: makepkg --printsrcinfo
pkgbase = mkdotenv
	pkgdesc = Populate .env files from secrets.
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/pc-magas/mkdotenv
	arch = x86_64
	license = GPL-3
	source = mkdotenv-1.0.1.tar.gz::https://github.com/pc-magas/mkdotenv/releases/download/v1.0.1/mkdotenv-1.0.1.tar.gz
	sha256sums = 11930465a71454f15d00ba18b0bce29b74d977a59a8b230b48c0675225b7d844

pkgname = mkdotenv
